.footer{
    background-color: $color-main-green;
    color: $white;
    padding-top:30px;
    padding-bottom: 20px;
    a{
        color:$white;
        text-decoration: none;
    }
    &__box{
        display: flex;
        justify-content: space-between;
        margin-left: 100px;
        margin-right: 100px;
    }
    &__title{
        font-size: 24px;
        order: 2;
        width: 33%;
        text-align: center;
        margin-bottom: 10px;

    }
    &__list{
        order: 1;
        list-style:none;
        display: flex;
        justify-content: space-around;
        width: 33%;

    }
    &__listItem{
        // padding-right: 100px;
    }
    &__sns{
        // padding-left: 300px;
        order: 3;
        text-align: right;
        width: 33%;

    }
    &__copyright{
        text-align: center;

    }
}